/*---start-随感---*/
.myFeeling{
	border: 2px solid green;
	background-color: #ededef;
	width:100%;
	/*height:500px;*/
	margin-top:60px;
	/*float: left;*/
	background:#333;
	background-image: url(../testImages/sky.jpg);
}
.myFeeling p{
	margin-left:40%;
	font-size: 60px;
}
.myFeeling form{
	width: 90%;
	margin: 0 auto;
	border: 2px solid gray;

}
.myFeeling form #content{
	width:90%;
	border: 1px solid green;
	margin: 0 auto;
}
.myFeeling form  #deliverMyFeeling{
	border: 1px solid orange;
	cursor: pointer;
	width: 6%;
	height:30px;
	margin-left: 89%;
}
.myFeeling form  #deliverMyFeeling:hover{
	background-color: red;
}


/*---End-随感---*/

/*---start-最近活动---*/
.recentActivity{
	border: 2px solid red;
	background-color: #ededef;
	width:100%;
	/*height:100px;*/
	margin-top:10px;
	float: left;
	background:#333;
	background-image: url(../testImages/rainnight.jpg);
	background-position: center;
}
.recentActivity p{
	margin-left:40%;
	font-size: 60px;
}
/*---End-最近活动 ---*/

/*---start-个人信息----*/
.myInformation {
	/*padding: 6em 0 0;*/
	margin-top:10px;
	position: relative;
	border:2px solid black;
	float:left;
	background-color: #ededef;
	width:100%;
	/*background:#333;*/
	background-image: url(../testImages/body_bg_page.jpg);

}
.myInformation p{
	margin-left:40%;
	font-size: 60px;
}
.myInformation .grid
{	

	/*background-color:orange;*/
	background-color:#444;
	width: 32%;
	border:1px solid green;
	/*padding: 1.82em 1.48em 3.5em;*/
	float: left;
	text-align: center;
	border-right: 3px solid #CECECE;
}

.myInformation .grid:nth-child(3),.myInformation .grid:nth-child(6){
	margin-right:0px;
	border-right:0;
}
.myInformation .grid a.icon{
	width: 80px;
	height: 80px;
	display: inline-block;
	padding: 0px;
	text-align: center;
}
.myInformation .grid  a{
	font-size: 1.3em;
	color: #1E1912;
	padding: 0.5em 0 0.6em 0;
	display: block;
	font-weight: 600;
}
.myInformation .grid p{
	border:1px solid green;
	width:100%;
	margin-left:auto;
	text-align:center;
	color: #f00;
	line-height: 1.6em;
	font-size: 0.9em;
	font-weight: 100;
	font-family: 'Raleway', sans-serif;
	text-shadow: 0.2px 0px 0.1px #B1B1B1;
	-webkit-text-shadow: 0.2px 0px 0.1px #B1B1B1;
	-moz-text-shadow: 0.2px 0px 0.1px #B1B1B1;
	-o-text-shadow: 0.2px 0px 0.1px #B1B1B1;
}
.monitor{
	background: url(../images/image-sprit.png) no-repeat 7px 6px;
}
.target{
	background: url(../images/image-sprit.png) no-repeat -75px 6px;
}
.photo{
	background: url(../images/image-sprit.png) no-repeat -158px 6px;
}
.colors{
	background: url(../images/image-sprit.png) no-repeat -243px 6px;
}
.man{
	background: url(../images/image-sprit.png) no-repeat -333px 6px;
}
.spare{
	background: url(../images/image-sprit.png) no-repeat -417px 6px;
}

/*---End-个人信息---*/


/*---Start--最近来访----*/
.people-info{
	border:10px solid white;
	background: #1D0E2B;
	margin-top:20px;
	float: left;
	width: 100%;
}
.people-info p{
	margin-left:40%;
	font-size: 60px;
}
.people-pics{
	text-align: center;
	/*margin: 1.5em;*/
	border:2px solid green;
}
.people-pics ul{
	width: 90%;
	border:2px solid red;
	margin:auto;
}
.people-pics ul li{
	display:inline-block;
}
.people-pics ul li a{
	display: inline-block;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-property: -webkit-transform;
	transition-property: transform;
	-webkit-transform: translateZ(0);
	-ms-transform: translateZ(0);
	transform: translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.people-pics ul li a:hover{
	-webkit-transform: translateY(-5px);
	-ms-transform: translateY(-5px);
	transform: translateY(-5px);
}

.people-pics ul li a span{
	width: 51px;
	height: 51px;
	display: block;
}
.people1 span{
	background:url(../images/people.png) no-repeat 0px 0px;
}
.people2 span{
	background: url(../images/people.png) no-repeat -61px -9px;
}
.people3 span{
	background: url(../images/people.png) no-repeat -122px -9px;
}
.people4 span{
	background: url(../images/people.png) no-repeat -183px -9px;
}
.people5 span{
	background: url(../images/people.png) no-repeat -244px -9px;
}
.people6 span{
	background: url(../images/people.png) no-repeat -305px -9px;
}
.people7 span{
	background: url(../images/people.png) no-repeat -366px -9px;
}
.people8 span{
	background: url(../images/people.png) no-repeat -427px -9px;
}
.people9 span{
	background: url(../images/people.png) no-repeat -488px -9px;
}
.people10 span{
	background: url(../images/people.png) no-repeat -549px -9px;
}
/******End--最近来访*********/



/******Start--系统推荐人物*********/
.pricing-plans{
	/*padding: 5em 0 3em 0;*/
	width:100%;
	margin: 10px;
	background: #1D0E2B;
	float: left;
}
.pricing-plans p{
	width:90%;
	text-align:center;
	margin: 0 auto;
	font-size: 60px;
	border:2px solid green;
	/*background-color: black;*/
}

.pricing-grids {
	/*padding: 4em 0;*/
	width:100%;
	background-color: #ccc;
}
.pricing-grids .pricing-grid img{
	width: 200px;
	height: 200px;
}		
.pricing-grid{
	
	/*border: 1px solid green;*/
	width: 29.77%;
	float: left;
	text-align: center;
	margin-right: 5%;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;

	border-radius: 0.2em;
	-webkit-border-radius: 0.2em;
	-moz-border-radius: 0.2em;
	-o-border-radius: 0.2em;
	
}
.pricing-grid:nth-child(3){
	margin-right:0;
}
.pricing-grid h3{
	width:100%;
	background: #E3E3E3;
	padding: 0.8em 0;
	display: block;
	color: #7B7B7B;
	font-family: 'open_sansregular';
	font-size: 30px;
}
.pricing-grid h3 i{
	font-size: 60px;
	display: block;
	line-height: 0.5em;
}

.pricing-grid h3 i label{
	font-size: 50px;
	vertical-align: super;
}
.pricing-grid:hover 
{
	box-shadow: 0 0 0px 2px #fff;
	-webkit-transform: scale(1.04) translateY(-5px);
	z-index: 1;
	border-color:#FF7D13;
}
.pricing-grid h3:hover{
	color:#FFF;
	background:#FF7D13;
	cursor:pointer;
}


.pricing-grid ul li a{
	color:#7B7B7B;
	line-height: 0.5em;
	font-size: 1em;
	text-align: center;
	display: block;
	padding: 2.2em 0 0 0;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	font-weight: 100;
	text-shadow: 0.2px 0px 0.1px #B1B1B1;
	-webkit-text-shadow: 0.2px 0px 0.1px #B1B1B1;
	-moz-text-shadow: 0.2px 0px 0.1px #B1B1B1;
	-o-text-shadow: 0.2px 0px 0.1px #B1B1B1;
}
.pricing-grid ul li a:hover{
	color:#FF7D13;
}

/*-------------------------动态 Start-------------------------------*/
.recentArticles{
	margin-top:10px;
	/*padding:5em 0 1em 0;*/
	width: 100%;
	/*height:300px;*/
	/*background:#fff;*/

}
.recentArticles >p{
	width:90%;
	text-align:center;
	margin: 0 auto;
	font-size: 60px;
	border:2px solid blue;
}
.recentArticles .wrap .article{
	width: 100%;
	border: 0px solid red;
	float: left;
	margin: 10px;
	padding-top: 20px;
	padding-bottom:20px;


}
.recentArticles .wrap .article .articleDetail dl{
	width: 100%;
	border: 0px solid #eee;
	float: left;
	background:#ccc;
	background:rgba(204,204,204,0.8);
	box-shadow:5px 5px 10px 0px rgba(255,255,255,0.8);
}
.recentArticles .wrap .article .articleDetail dl dd{
	width: 100%;
	border: 0px solid #333;
	float: left;
	
}
.recentArticles .wrap .article .articleSender{
	width: 5%;
	border: 0px solid black;
	height: 0px;
	padding-bottom: 5%;
	float: left;
	background: no-repeat center;
	background-size:cover;
		
	
}
.recentArticles .wrap .article .articleDetail{
	width: 80%;
	border-style: solid;
	border-width:20px 1px 1px 20px;
	border-color:rgba(204,204,204,0.8) transparent transparent transparent;
	float: left;
	margin-left: 40px;
	
	
}

.recentArticles .wrap .article .articleDetail dl dd .commentAndLike{
	font-size: 14px;
	color:orange;
	float:left;
	display:inline-block;
	width:10%;
	border:0px solid red;
	margin-left: 26.7%;
	text-align: center;
	font-weight: bold;
	
}
.recentArticles .wrap .article .articleDetail dl dd .commentAndLike:hover{
	color: #333;
	cursor:pointer;
}
.recentArticles .wrap .article .articleDetail dl dd:nth-child(3){
	margin-bottom: 20px;
}
.recentArticles .wrap .article .articleDetail dl dd p{
	font-size: 14px;
	float: left;
	border: 0px solid red;
	text-align: left;
}
.recentArticles .wrap .article .articleDetail dl dd p img{
	width: 30%;
	float: left;
	margin-right: 20px;
	margin-left: 10px;
	
}







/****************************End--动态***********************************/

/*----start-contact----*/
.contact{
	background: url(../images/footer-bg.jpg) no-repeat 0px 0px;
	background-size: 100% 100%;
}
.contact-head{
	text-align:center;
	
}
.contact-head h3{
	color: #FFF;
	font-size:40px;
	text-transform: uppercase;
	background: rgba(255, 0, 0, 0.5);
	
}
.getin-touch{
	text-align: center;
	
}
.getin-touch ul{
	
}
.getin-touch h4{
	color: #FFF;
	font-size: 30px;
	
}

.getin-touch ul li{
	display: inline-block;
	margin: 0 0.3em;
}
.getin-touch ul li a span{
	width:50px;
	height:50px;
	display:inline-block;
}
.facebook span{
	background:url(../images/footer-social-icons.png) no-repeat 0px 0px;
}
.twitter span{
	background: url(../images/footer-social-icons.png) no-repeat -61px 0px;
}
.googlepluse span{
	background: url(../images/footer-social-icons.png) no-repeat -122px 0px;
}
.facebook span:hover{
	background:url(../images/footer-social-iconsh.png) no-repeat 0px 0px;
}
.twitter span:hover{
	background: url(../images/footer-social-iconsh.png) no-repeat -61px 0px;
}
.googlepluse span:hover{
	background: url(../images/footer-social-iconsh.png) no-repeat -122px 0px;
}


/*** move top **/
#toTop {
	display: none;
	text-decoration: none;
	position: fixed;
	bottom: 10px;
	right: 30px;
	overflow: hidden;
	width: 32px;
	height: 32px;
	border: 0px solid green;
	text-indent: 100%;
	background: url(../images/move-top.png) no-repeat 0px 0px;
}
#toTopHover {
	width: 48px;
	height: 48px;
	display: block;
	overflow: hidden;
	float: right;
	opacity: 0;
	-moz-opacity: 0;
	filter: alpha(opacity=0);
}
#toTop:active, #toTop:focus {
	outline: none;
}
/*** move top **/
/*----//End-wrap---*/


